<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'Over'">

    <!-- Drawer Menu-->
    <div class="logo"></div>
    <nav>
      <ul>
        <li class="animate__animated animate__fadeInUp animate__delay1">

          <mat-menu #styleMenu="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let style of styles" (click)="setStyle(style)">
              <mat-icon>brush</mat-icon>
              <span>{{style.name}} Style</span>
            </button>
          </mat-menu>

          <button mat-raised-button color="accent" [matMenuTriggerFor]="styleMenu">
            <mat-icon>brush</mat-icon>
            <span>{{selectedStyle.name}} Style</span>
          </button>
        </li>
        <li>
          <a id="download" #download download="myDugeonDraw.png">
            <button mat-raised-button color="accent" (click)="saveDraw()">
              <mat-icon>save</mat-icon>
              <span>Download Draw</span>
            </button>
          </a>
          <div #downloads class="downloads"></div>
        </li>
        <li>
          <button mat-raised-button color="accent" (click)="clearScreen()">
            <mat-icon>delete</mat-icon>
            <span>Clear Screen</span>
          </button>
        </li>
        <li>
          <div class="key ctrl"></div>
          <span class="key_text">Press <strong>Ctrl</strong> Key while drawing to draw Horizontal Lines.</span>
        </li>
        <li>
          <div class="key alt"></div>
          <span class="key_text">Press <strong>Alt</strong> Key while drawing to draw Vertical Lines.</span>
        </li>
        <li>
          <div class="key shift"></div>
          <span class="key_text">Press <strong>Shift</strong> Key to Erase.</span>
        </li>
        <li>
          <button class="about" mat-raised-button color="primary" (click)="showAbout()">
            <mat-icon>live_help</mat-icon>
            <span>About</span>
          </button>
        </li>

      </ul>
    </nav>

    <div class="divider"></div>
    <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html" target="_blank">
      <span class="copyleft"></span></a>

  </mat-drawer>
  <mat-drawer-content>
    <div class="transparencyPanel"></div>

    <!-- Drawer Content - Canvas -->
    <canvas #myCanvas1></canvas>
    <canvas #myCanvas2></canvas>
    <canvas #myCanvas3 (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()"
      (mousedown)="onMouseDown($event)"></canvas>

    <!-- Animated Title-->
    <div class="title animate__animated"></div>

    <!-- Toggle Menu button-->
    <button mat-icon-button class="toggle_button animate__animated animate__wobble" color="primary"
      (mousedown)="toggleMenu($event)">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-drawer-content>
</mat-drawer-container>